*{
    margin: 0;
    padding: 0;
    /* background-color: palegreen; */
    background-color: black;
}

                                /* Top Section  */

/* Top left-section */

section{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.left-section{
    display: flex;
    width: 30%;
}

.img1{
    height: 30px;
    width: 30px;
    padding-top: 40px;
}

.img2{
    height: 400px;
    width: 200px;
}

/* Top right-section */

ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 80px;
    width: 100%;
    color: white;
    font-weight: 600;
}
li{
    list-style: none;
    justify-content: center;
}

.nav-btn{
    background-color: rgb(22, 20, 20);
    color: white;
    width: 90px;
    height: 15px;
    padding:  12px 22px;
    border-radius: 8px;
}
.right-section{
    width: 30%;
    height: 350px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: aqua; */
}

.article img{
    padding-left: 50px;
    
    
}
.article-summary{
    display: flex;
    flex-direction: column;
    text-align: left;
    color: white;
    font-weight: 600;
    gap: 10px;

}

.article-summary h1{
    font-size: 40px;
}

span{
    font-size: 20px;
}

p{
    font-size: 14px;
}


.article-btn{
    display: flex;
    padding-top: 10px;
    align-items: center;
    font-size: 15px;
    text-align: left;
    width: 250px;
    border-radius: 8px;
    color: white;
    background-color: rgb(35, 33, 33);
}

/* Logo Row */
.logo-row{
    width: 80%;
    display: flex;
    margin-top: 40px;
    margin-left: 100px;
    align-items: center;
    justify-content: space-around;
}

/* Specs Card */

.specs-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    
}

.specs-card-img img{
    height: 60px;
    width: 200px;
}

.specs{
    display: flex;
    
}

.specs-cards-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    color: white;
    
}

.specs-info{
    display: flex;
    flex-direction: column;
}

.specs-info img{
    height: 20px;
    width: 20px;
}

.first-fourth{
    padding-left: 50px;
    

}

/* Case Card */

.case-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.case-card-img{
    height: 60px;
    width: 200px;
}

.case img{
    height: 350px;
}

.case{
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 30px;
    color: white;
}

.right-case{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Buy Now */

.buy-now{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buy-now div{
    display: flex;
    /* align-items: start; */
    /* justify-content: center; */
    margin-top: 40px;
    background-color: rgb(51, 48, 48);
    width: 50%;
    /* margin-left: 40px; */
    border-radius: 15px;
}

.buy-info{
    display: flex;
    flex-direction: column;
    /* text-align: start; */
    width: 40%;
    background-color: rgb(32, 31, 31);
    padding-left: 100px;
    color: white;
}

.buy-info h3{
    background-color: transparent;
}

.buy-info p{
    background-color: transparent;
}



.buy-pic{
    width: 40%;
}

.buy-pic img{
    background-color: transparent;
    height: 160px;
    width: 220px;
    margin-right: 90px;
    margin-bottom: 40px;
}

/* Choose your style  */

.style{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* margin: 0 150px; */
    gap: 60px;
}

.style-set-1{
    margin-top: 20px;
    display: flex;
    height: 100px;
    gap: 20px;
}

.style-set-2{
    margin-top: 20px;
    display: flex;
    height: 100px;
    gap: 20px;
}

.style-set-3{
    margin-top: 20px;
    display: flex;
    align-items: start;
    width: 280px;
    gap: 20px;
}



.style-card{
    position: relative;
  width: 130px;
  height: 130px;
  background: #181a1b;
  border-radius: 8px;
}

.style-info{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 10px 15px;
    font-weight: 700;
    color: white;
    background-color: transparent;
  
}

.style-card img{
    width: 75px;
    height: 100px;
    position: absolute;
    top: -40px;
    left: 28px;
    background-color: transparent;
  
}

.style-info img{
    margin-top: 55px;
    margin-left: 50px;
    width: 20px;
    height: 20px;
    background: #0a0a0b;
    border-radius: 8px;
    padding: 2px 6px;
  
}

.style-info p{
    background-color: transparent;
}


/* Footer  */




footer{
    display: flex;
    width: 100%;
    height: 20vh;
}

footer div{
    width: 30%;
}
footer div img{
    height: 20px;
    width: 20px;
}

.footdiv2{
    width: 30%;
}

.footdiv3{
    width: 30%;
}

.footdiv2 h3{
    font-size: 20px;
    color: white;
    text-align: center;
}
.footdiv2 ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.footdiv3 h3{
    font-size: 20px;
    color: white;
    text-align: center;
}

.footdiv3 ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.footdiv4{
    width: 30%;
}

.footdiv4{
    display: flex;
    flex-direction: column;
}

.footdiv4 div{
    width: 300px;
    height: 35px;
    background-color: #1f1f20;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footdiv4 div span{
    color: white;
    background-color: transparent;
}

.email-sus{
    height: 20px;
    width: 200px;
    background-color: black;
    border-radius: 10px;
}


