*{
    margin: 0;
    padding: 0;
    /* background-color: palegreen; */
    /* background-color: rgb(12, 12, 12); */
    background: #0f0f10;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  /* box-sizing: border-box; */
}

                                /* Top Section  */

/* Top left-section */

section{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.left-section{
    display: flex;
    width: 30%;
}

.img1{
    height: 30px;
    width: 30px;
    padding-top: 40px;
}

.img2{
    height: 400px;
    width: 200px;
}

/* Top right-section */

ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 80px;
    width: 100%;
    color: white;
    font-weight: 600;
}
li{
    list-style: none;
    justify-content: center;
}

.nav-btn{
    background-color: rgb(22, 20, 20);
    color: white;
    width: 90px;
    height: 15px;
    padding:  12px 22px;
    border-radius: 8px;
}
.right-section{
    width: 30%;
    height: 350px;
    padding-top: 40px;
    display: flex;
    /* align-items: start; */
    flex-direction: column;
    /* justify-content: space-between; */
    /* background-color: aqua; */
}

.article img{
    padding-left: 50px;
    padding-top: 50px;
    
}
.article-summary{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 65%;
    color: #bdc0c2;
    line-height: 25px;
}

.article-summary h1{
    font-size: 50px;
    margin-top: 20px;
    margin-bottom:25px; ;
}

.article-summary h4{
    margin-top: 30px;
    font-size: 30px;
    padding-bottom: 30px;
}

p{
    font-size: 12px;
    align-items: start;
}


.article-btn{
    display: flex;
    align-items: center;
    font-size: 15px;
    text-align: left;
    width: 250px;
    border-radius: 8px;
    color: white;
    background-color: rgb(35, 33, 33);
    margin-top: 15px;
}

.article-btn img{
    background-color: transparent;
    padding: 20px;
}

.article-btn h3{
    background-color: transparent;
    font-size: 15px;
    padding: 10px;
}
.article-btn h2{
    background-color: transparent;
    padding: 8px;
    font-size: 15px;
}
/* Logo Row */
.logo-row{
    width: 80%;
    display: flex;
    margin-top: 250px;
    margin-left: 100px;
    align-items: center;
    justify-content: space-around;
}

/* Specs Card */

.specs-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    
}

.specs-card-img img{
    height: 60px;
    width: 200px;
    padding-bottom: 40px;
}

.specs{
    display: flex;
    
}

.specs-cards-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    color: white;
    
}

.specs-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.specs-info img{
    height: 20px;
    width: 20px;
}

.first-fourth{
    padding-left: 50px;
    

}

/* Case Card */

.case-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 30px;
}

.case-card-img{
    height: 60px;
    width: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.case img{
    height: 350px;
    /* padding-left: 40px; */
}

.case{
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 30px;
    color: white;
}

.case-info{
    line-height: 25px;
    padding-left: 40px;
    
}
.right-case{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.case-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(40, 38, 38);
    height: 40px;
    border-radius: 10px;
    width: 120px;
    margin-left: 40px;
    padding-left: 20px;

}

.case-btn img{
    height: 20px;
    /* width: 20px; */
    background-color: transparent;
}

.case-btn p{
    background-color: transparent;
    font-size: 15px;
    /* width: 20px; */
    padding-right: 15px;
}

/* Buy Now */

.buy-now{
    display: flex;
    align-items: start;
    justify-content: center;
    margin-top: 80px;
    margin-left: 257px;
    margin-bottom: 80px;
    background-color: rgb(51, 48, 48);
    width: 60%;
    border-radius: 15px;
}

.buy-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 70px;
    background-color: transparent;
    padding-left: 100px;
    color: white;
}

.buy-info h3{
    background-color: transparent;
}

.buy-info p{
    background-color: transparent;
    padding: 5px;
}

.buy-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    width: 100px;
    padding: 10px;
    background-color: black;
}

.buy-pic{
    width: 40%;
    background-color: transparent;
    padding-top: 30px;
    padding-left: 30px;
}

.buy-pic img{
    background-color: transparent;
    height: 200px;
    width: 280px;
    padding-top: 10px;
    margin-right: 90px;
    margin-bottom: 40px;
}

/* Choose your style  */

.style{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* margin: 0 150px; */
    gap: 60px;
}

.style-set-1{
    margin-top: 20px;
    display: flex;
    height: 100px;
    gap: 20px;
}

.style-set-2{
    margin-top: 20px;
    display: flex;
    height: 100px;
    gap: 20px;
}

.style-set-3{
    margin-top: 20px;
    display: flex;
    align-items: start;
    width: 280px;
    gap: 20px;
}



.style-card{
    position: relative;
  width: 130px;
  height: 130px;
  background: #181a1b;
  border-radius: 8px;
}

.style-info{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 10px 15px;
    font-weight: 700;
    color: white;
    background-color: transparent;
  
}

.style-card img{
    width: 75px;
    height: 100px;
    position: absolute;
    top: -40px;
    left: 28px;
    background-color: transparent;
  
}

.style-info img{
    margin-top: 55px;
    margin-left: 50px;
    width: 20px;
    height: 20px;
    background: #0a0a0b;
    border-radius: 8px;
    padding: 2px 6px;
  
}

.style-info p{
    background-color: transparent;
}


/* Footer  */

footer{
    display: flex;
    align-items: start;
    justify-content: center;
    width: 90%;
    height: 300px;
    margin-top: 80px;
}

.foot-in{
    width: 60%;
    display: flex;
}

footer div img{
    height: 25px;
    width: 25px;
}

.footdiv2{
    width: 150px;
    height: 200px;
    display: flex;
    flex-direction: column;
    padding-left: 140px;
    gap: 5px;
    font-size: 12px;
}

.footdiv3{
    width: 150px;
    height: 200px;
    display: flex;
    flex-direction: column;
    padding-left: 120px;
    gap: 5px;
    font-size: 12px;
}

.footdiv2 h3{
    color: white;
    padding-bottom: 8px;
}
.footdiv2 h4{
    color: white;
   
}


.footdiv3 h3{
    color: white;
    padding-bottom: 8px;
    width: 80px;
}

.footdiv3 h4{
    color: white;
}

.footdiv4{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 120px;
  }

  .foot-subs{
    background: #181A1B;
    border-radius: 8px;
    padding: 5px 10px;
    display: flex;
  }
  
  .footdiv4 div:first-child input{
    border: none;
    background-color: transparent;
    font-size: 20px;
    width: 110px;
  }

  
  .subscribe-button{
    background: #0A0A0B;
    border-radius: 8px;
    padding: 4px 8px;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .subscribe-button p{
    font-size: 20px;
    color: white;
  }



.uparrow{
    display: flex;
    align-items: start;
    justify-content: flex-end;
    width: 20%;
    padding-left: 90px;
    background-color: transparent;
}

