*{
    margin: 0;
    padding: 0;
    background-color: palegreen;
    /* background-color: black; */
}

                                /* Top Section  */

/* Top left-section */

section{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.left-section{
    display: flex;
    width: 30%;
}

.img1{
    height: 30px;
    width: 30px;
    padding-top: 40px;
}

.img2{
    height: 400px;
    width: 200px;
}

/* Top right-section */

ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 80px;
    width: 100%;
    color: white;
    font-weight: 600;
}
li{
    list-style: none;
    justify-content: center;
}

.nav-btn{
    background-color: rgb(22, 20, 20);
    color: white;
    width: 90px;
    height: 15px;
    padding:  12px 22px;
    border-radius: 8px;
}
.right-section{
    width: 30%;
    height: 350px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: aqua; */
}

.article img{
    padding-left: 50px;
    
    
}
.article-summary{
    display: flex;
    flex-direction: column;
    text-align: left;
    color: white;
    font-weight: 600;
    gap: 10px;

}

.article-summary h1{
    font-size: 40px;
}

span{
    font-size: 20px;
}

p{
    font-size: 14px;
}


.article-btn{
    display: flex;
    padding-top: 10px;
    align-items: center;
    font-size: 15px;
    text-align: left;
    width: 250px;
    border-radius: 8px;
    color: white;
    background-color: rgb(35, 33, 33);
}

/* Logo Row */
.logo-row{
    width: 80%;
    display: flex;
    margin-top: 40px;
    margin-left: 100px;
    align-items: center;
    justify-content: space-around;
}

/* Specs Card */

.specs-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    
}

.specs-card-img img{
    height: 60px;
    width: 200px;
}

.specs{
    display: flex;
    
}

.specs-cards-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    color: white;
    
}

.specs-info{
    display: flex;
    flex-direction: column;
}

.specs-info img{
    height: 20px;
    width: 20px;
}

.first-fourth{
    padding-left: 50px;
    

}

/* Case Card */

.case-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.case-card-img{
    height: 60px;
    width: 200px;
}

.case img{
    height: 350px;
}

.case{
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 30px;
    color: white;
}

.right-case{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


